<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Gebruikers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <h3>Roy Schrauwen</h3>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Toneelmeester CARO</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <h3>Tom Netten</h3>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Werkvoorbereider</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Toneelmeester CARO</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <h3>Mark Goossens</h3>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Stagemanager CARO</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Toneelmeester CARO</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Troubleshooter CARO</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label color="primary">Tweede inspicient CARO</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
