<ion-header>
  <ion-toolbar>
    <ion-title> Showplanner </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        ><ion-card>
          <ion-card-header>
            <ion-card-title> Projecten </ion-card-title>

            <ion-card-subtitle
              >Laatste 3 Gewijzigde Projecten</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button>Project 1</ion-item>
              <ion-item button>Project 2</ion-item>
              <ion-item button>Project 3</ion-item>
            </ion-list>
            <ion-button expand="block">
              <ion-icon slot="start" name="list"></ion-icon>
              Alle Projecten
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="add"></ion-icon>
              Nieuw Project Toevoegen
            </ion-button>
          </ion-card-content>
        </ion-card></ion-col
      > </ion-row
    ><ion-row>
      <ion-col size-md="6" offset-md="3"
        ><ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>Planning</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>Vandaag</ion-text>
            <ion-list>
              <ion-item button>
                <ion-label>Project 1</ion-label>
              </ion-item>
              <ion-item button>
                <ion-label>Project 2</ion-label>
              </ion-item>
              <ion-item button>
                <ion-label>Project 3</ion-label>
              </ion-item>
            </ion-list>
            <ion-text>Morgen</ion-text>
            <ion-list>
              <ion-item button>
                <ion-label>Project 1</ion-label>
              </ion-item>
              <ion-item button>
                <ion-label>Project 2</ion-label>
              </ion-item>
              <ion-item button>
                <ion-label>Project 3</ion-label>
              </ion-item>
            </ion-list>

            <ion-button expand="block">
              <ion-icon slot="start" name="add"></ion-icon>
              Nieuwe werkdag toevoegen
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Werkdagen wijzigen
            </ion-button>
            <ion-button expand="block" routerLink="/planning">
              <ion-icon slot="start" name="people"></ion-icon>
              Planning invullen
            </ion-button>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        ><ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>Gebruikers</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" routerLink="/gebruikers">
              <ion-icon slot="start" name="list"></ion-icon>
              Gebruikers bekijken
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="add"></ion-icon>
              Nieuwe gebruiker toevoegen
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Gebruiker wijzigen
            </ion-button>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
