<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CMS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        ><ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>Projecten</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block">
              <ion-icon slot="start" name="add"></ion-icon>
              Nieuw Project Toevoegen
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Projecten Wijzigen
            </ion-button>
          </ion-card-content>
        </ion-card></ion-col
      > </ion-row
    ><ion-row>
      <ion-col size-md="6" offset-md="3"
        ><ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>Planning</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block">
              <ion-icon slot="start" name="add"></ion-icon>
              Nieuwe werkdag toevoegen
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Werkdagen wijzigen
            </ion-button>
            <ion-button expand="block" routerLink="/planning">
              <ion-icon slot="start" name="people"></ion-icon>
              Planning invullen
            </ion-button>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        ><ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>Gebruikers</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" routerLink="/gebruikers">
              <ion-icon slot="start" name="list"></ion-icon>
              Gebruikers bekijken
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="add"></ion-icon>
              Nieuwe gebruiker toevoegen
            </ion-button>
            <ion-button expand="block">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Gebruiker wijzigen
            </ion-button>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
